/*// Test*/
.imgSize {
    width: 100px;
    height: 100px;
}

.buttonGroupPositioning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonStyles {
    margin-left: 30px;
    margin-right: 30px;
}